@import url(./blocks/header.css);
@import url(./blocks/main.css);
@import url(./blocks/customers.css);
@import url(./blocks/footer.css);



.overlay {
    width: 99%;
    position: absolute;
    top: 93px;
    display: none;
    z-index: 888;
}

.modal {
       display: flex;
       justify-content: center;
}

.modal-content {
    width: 528px;
    height: 635px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-left: 16px;
    align-items: center;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.x {
    width: 30px;
    height: 30px;
    position: relative;
    top: -296px;
    right: -10px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
}

.close_modal {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 14px;
    background-color: #FFF;
    fill: #FFF;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.1);
}

.close_modal:hover svg path {
    fill: rgba(33, 150, 243, 1); 
}

.form {
    width: 448px;
    height: 581px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputs {
    width: 448px;
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.input {
    width: 94%;
    height: 38px;
    border: none;
    outline: none;
    padding-left: 17px;
}

.form-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

.name {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-wrapper {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 11px 0 13px 12px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.name-wrapper:focus-within {
    border: 1px solid #2196F3;
}

.name-wrapper:focus-within svg path {
    fill: rgba(33, 150, 243, 1);
}

.name-wrapper:hover { 
    border: 1px solid #2196F3;
    transition: 0.6s cubic-bezier(0, 0, 0.97, 1.31);
}

.name-wrapper:hover svg path {
    fill: rgba(33, 150, 243, 1);
    transition: 0.6s cubic-bezier(0, 0, 0.97, 1.31);
}

.name-title {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.tel {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tel-wrapper {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 11px 0 13px 12px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.tel-wrapper:focus-within {
    border: 1px solid #2196F3;
}

.tel-wrapper:focus-within svg path {
    fill: rgba(33, 150, 243, 1);
}

.tel-wrapper:hover { 
    border: 1px solid #2196F3;
    transition: 0.6s cubic-bezier(0, 0, 0.97, 1.31);
}

.tel-wrapper:hover svg path {
    fill: rgba(33, 150, 243, 1);
    transition: 0.6s cubic-bezier(0, 0, 0.97, 1.31);
}

.tel-title {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.email {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email-wrapper {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 11px 0 13px 12px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.email-title {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.email-wrapper:focus-within {
    border: 1px solid #2196F3;
}

.email-wrapper:focus-within svg path {
    fill: rgba(33, 150, 243, 1);
}

.email-wrapper:hover { 
    border: 1px solid #2196F3;
    transition: 0.6s cubic-bezier(0, 0, 0.97, 1.31);
}

.email-wrapper:hover svg path {
    fill: rgba(33, 150, 243, 1);
    transition: 0.6s cubic-bezier(0, 0, 0.97, 1.31);
}

.comment {
    width: 100%;
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-title {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.comment-input {
    padding: 20px 3px 0 16px;
    resize: none;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.comment-input:focus-within {
    border: 1px solid #2196F3;
}

.comment-input:hover {
    border: 1px solid #2196F3;
    transition: 0.6s cubic-bezier(0, 0, 0.97, 1.31);
}

.comment-input::placeholder {
    color: rgba(117, 117, 117, 0.50);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.checkbox {
    width: 411px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.checkbox-input {
    width: 16px;
    height: 15px;
    fill: #212121;
}

.checkbox-title {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.checkbox-link {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.form-btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    cursor: pointer;
    border: none;
}

.show {
    display: block;
}



