.container {
    width: 1140px;
    margin: 0 auto;
 }

.header-block {
    display: flex;
    width: 520px;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    width: 280px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header_wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #000000;
    font-size: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.7em;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

h2 span {
    color: #2196F3;
}

.nav li {
    list-style-type: none;
    font-size: 0.9em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav a {
    text-decoration: none;
    color: #212121 ;
    transition: color 0.4s ease;
}

.nav a:hover {
    color: #2196F3;
}

.links a {
    padding: 0 15px;
    text-decoration: none;
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: color 0.4s ease;
}

.links a:hover {
    color: #2196F3;
}

.links img {
    margin-right: 5px;
    object-fit: cover;
    object-position: 50% 50%;
}

 hr {
    margin: 0;
    border: 1px solid #ECECEC;
}

.content {
    margin: 90px 0;
}

 .btns {
    height: 54px;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .btns-content {
    display: flex;
    width: 616px;
    justify-content: space-between;
 }

.btns li {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.btns button {
    background-color: #F5F4FA;
    padding: 6px 22px;
    color: #212121;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    transition: color, background-color 0.4s ease;
}

.btns button:hover {
    transform: translate(-5px, 5px);
    background-color: #2196F3;
    color: #ffff;
}

.boxes {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxes1 {
    display: flex;
    width: 1213px;
    margin-bottom: 34px;
  }

  .boxes2 {
    display: flex;
    width: 1213px;
    margin-bottom: 34px;
  }

  .boxes3 {
    display: flex;
    width: 1213px;
    margin-bottom: 34px;
  }

figure {
    margin: 0;
}

.img::before {
    content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
    opacity: 0;
    background: rgba(33, 150, 243, 0.90);
    position: absolute;
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.54px;
}

.boxes ul li:hover .img::before {
    opacity: 1;
    transition: 1s ease;
}

figcaption {
    width: 338px;
    height: 71px;
    margin: 18px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxes li {   
    width: 370px;
    height: 407px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style-type: none;
    border: 1px solid #EEEEEE;
}

.boxes li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translate(-3px, -10px);
}

.boxes h2 {
    color: #212121;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}

.boxes h4 {
    color: #757575;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
}

.boxes img {
    object-fit: cover;
    object-position: 50% 50%;
}

.footer {
    background-color: #2F303A;
    height: 271px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    height: 140px;
    padding-left: 132px;
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-address {
    height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer h2 {
    margin: 0 0;
    color: #ffff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.7em;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.footer h2 span {
    color: #2196F3;
}

.footer a {
    text-decoration: none;
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    transition: color 0.4s ease;
}

.footer a:hover {
    color: #2196F3;
}

.footer address {
    color: #ffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
}





