.customers {
    height: 422px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: jello 2s 4s;
}

.customers h2{
    margin: 0 auto;
    padding-bottom: 58px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2.3em;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.btns button {
    width: 170px;
    height: 92px;
    background-color: #ffff;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    transition: border 0.8s ease-out;
    animation: pulse 1s 6s infinite ;
}

.btns button svg path{
    object-fit: cover;
    object-position: 50% 50%;
    transition: fill 0.8s ease;
}

.btns button:hover,
.btns button:hover svg path {
    border: 1px solid #2196F3;
    fill: #2196F3;
}

.btns img {
    object-fit: cover;
    object-position: 50% 50%;
}