header {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    z-index: 990;
    border-bottom: #ECECEC;
}

.container {
    width: 1140px;
    margin: 0 auto;

    }
    
    .header-block {
        display: flex;
        width: 520px;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-menu {
        width: 280px;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    
    .header_wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    h2 {
        color: #000000;  
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1.7em;
        line-height: 31px;
        /* identical to box height */
        letter-spacing: 0.03em;
    }
    
    h2 span {
        color: #2196F3;
    }

    .nav {
        height: 76px;
        display: flex;
        align-items: center;
    }
    
    .header-menu li {
        list-style-type: none;
        position: relative;
    }

    
                   
    .header-menu a {
        text-decoration: none;
        color: #212121 ;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 0.9em;
        line-height: 16px;
        letter-spacing: 0.02em;
        transition: color 0.4s ease;
    }

    .header-menu a::after {
        width: 78px;
        height: 4px;
        border-radius: 2px;
        background: #2196F3;
    }
    
    .header-menu a:hover {
        color: #2196F3;
    }
    
    .links {
        width: 334px;
        display: flex;
        justify-content: space-between;
    }

    .links a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: #757575;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 0.9em;
        line-height: 16px;
        letter-spacing: 0.02em;
        transition: color 0.5s ease;
    }

    .links a:nth-child(1) {
        width: 165px;
    }

    .links a:nth-child(2) {
        width: 140px;
    }

    .links a svg {
        object-fit: cover;
        object-position: 50% 50%;
    }

    .links a svg path {
        transition: fill 0.5s ease;
    }
    
    .links a:hover,
    .links a:hover svg path {
        color: #2196F3;
        fill: #2196F3;
    }